<div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-footer">
            <h4 class="footer-title">Адреса</h4>
            <p>Г. Кострома, ул. Юрия Смирнова</p>
            <p>Г. Кострома, ул. Юрия Смирнова</p>
          </div>
          <div class="col-lg-4 col-md-4 col-footer">
            <h4 class="footer-title">E-mail</h4>
            <p>example@yandex.ru</p>
            <h4 class="footer-title">Телефон</h4>
            <p>+79999999999</p>
          </div>
          <div class="col-lg-4 col-md-4 col-footer">
            <h4 class="footer-title">ИНН</h4>
            <p>7777777777</p>
            <h4 class="footer-title">ОГРН</h4>
            <p>7777777777</p>
          </div>
        </div>
        <p class="footer-bottom">2014 - 2022  RJS. Использование любых материалов сайта разрешено только с указанием ссылки на сайт-источник.</p>
      </div>
    </div>